<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <meta charset="UTF-8">
<link href="/favicon.ico" rel="shortcut icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico">
<link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
<title>Secretaría de Salud | Gobierno | gob.mx</title></head>

<body>



<div class="row">
  <div class="container">
 <br>
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
						<div class="text-center">
							<h3>
                                   Iniciar Seción
                                     <small class="text-muted">Secretaria de Salud</small>
                                    </h3>
                                    <hr class="red">
                                    <div class="row">
						
						<img src="/images/inicio.png" class="rounded mx-auto d-block" alt="...">
						</div>
					
                           <br>
                                   
						</div>
						
						</div>
						
						
						<hr>
					</div>
					<div class="panel-body">
					
						<div class="row">
							<div class="col-lg-12">
								   <form th:action="@{/login}" method="post" >
									<div class="form-group">
										<input type="email" id="email" name="email" tabindex="1" class="form-control"  placeholder="Correo Electronico">
									</div>
									<div class="form-group">
										<input type="password" id="password" name="password" tabindex="2" class="form-control"placeholder="Contraseña" required>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Recordarme</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">¿Has olvidado tu contraseña?</a>
												</div>
												
							<div class="text-center">
								<a th:href="@{/signup}">Regístrate ahora</a>
							</div>
											</div>
										</div>
									</div>
								</form>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  
    </div>
    </div>

    
 <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
 <script>
  $gmx(document).ready(function() {
    ...
  });
</script>
</body>
</html>