<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <meta charset="UTF-8">
<link href="/favicon.ico" rel="shortcut icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://framework-gb.cdn.gob.mx/favicon.ico">
<link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
<title>Secretaría de Salud | Gobierno | gob.mx</title></head>
<body>
<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
        <span class="sr-only">Interruptor de Navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="subenlaces">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/login}">Regresar</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Desplegable <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Acción</a></li>
            <li><a href="#">Otra acción</a></li>
            <li><a href="#">Algo más aquí</a></li>
            <li class="divider"></li>
            <li><a href="#">Enlace separado</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
      <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     </div>
             </div>
         </div>

<div class="row">
  <div class="container">
 <br>
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
						<div class="text-center">
							<h3>
                              Nuevo Registro
                                     <small class="text-muted">Secretaria de Salud</small>
                                    </h3>
                                    <hr class="red">
                                    <br>
                                    <img src="/images/nuevousu.png" class="rounded mx-auto d-block" alt="...">
						</div>
						</div>
						
						<hr>
					</div>
					<div class="panel-body">
						<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input  type="text" th:field="*{firstname}" class="form-control" id="firstname" aria-describedby="emailHelp">
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Apellidos</label>
    <input type="text" th:field="*{lastname}" class="form-control" id="lastname" aria-describedby="emailHelp">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo Electronico</label>
    <input type="text" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp">
   <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                         </span>
                 </div>
  </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" th:field="*{password}" class="form-control" id="password">
    <div class="col-md-3">
                 <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                         </span>
                 </div>
             </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>
					
					
					</div>
				</div>
			</div>
		</div>
	</div>
  
    </div>
    </div>
     </form>
 </div>
  <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
 <script>
  $gmx(document).ready(function() {
    ...
  });
</script>
</body>
</html>