<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaft.org">
<head>
<link href="/favicon.ico" rel="shortcut icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
<title>Secretaría de Salud | Gobierno | gob.mx</title>

<body>
 <section class="section section-intro flag-banner" style="background: transparent url(/images/background_2.jpg) no-repeat center center; background-size: cover; top:0;">
    <div id="videoContainer" class="video-container" style="position: absolute; top: 0;"></div>
<div class="container">
  <div class="section-intro__content" style="color: transparent;">
    <h1>-</h1>
    <p class="text-border">-</p>
  </div>
</div>
</section>
<br>
 

<div class="container">
<h3>Plataforma de Recepción de Archivos de Productos de Nomina</h3>
<hr class="red">
<div class="container center-h center-v">
<div class="card mb-3" style="max-width: 540px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/Avatar Doctor2.png" class="card-img" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Articulo 74 Frac. l</h5>
        <p class="card-text">Información  de los productos de Nómina  Ferderal X00/610/416.</p>

          <a href="/home/74Frac1" class="btn btn-primary">Ingresar</a>
     
      </div>
    </div>
  </div>
</div>
</div>

    <br>
<div class="container center-h center-v">
<div class="card mb-3" style="max-width: 540px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/admim.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Articulo 74 Frac. II</h5>
        <p class="card-text">Información  de los productos de Nómina del Articulo 74.</p>

          <a href="#" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<br>



 <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
 <script>
  $gmx(document).ready(function() {
    ...
  });
</script>
</body>
</html>